@{
    ViewBag.Title = "Home Page";
}


<hr />
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center m-3">Chi tiết</h4>
        <div class="custom-file">
            <input id="file-code" class="custom-file-input" accept=".txt" type="file">
            <label for="file-code" id="file-code__tilte" class="custom-file-label">Chọn tệp .txt</label>
        </div>

        <ul class="detail-giftcode mt-4">
            <li>Tổng số giftcode:<span class="detail-giftcode__total">@ViewBag.TotalGiftcode</span></li>
            <li>Đã dùng:<span class="detail-giftcode__used">0</span></li>
            <li>Còn lại:<span class="detail-giftcode__remain">0</span></li>
            <li>Thông báo:<span class="detail-giftcode__notifi">@ViewBag.notifi</span></li>
        </ul>

    </div>

    <div class="col-sm-8">
        <h4 class="text-center m-3">Lịch sử gửi code hôm nay</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Tên Facebook</th>
                    <th scope="col">Mã Giftcode</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>29/09/2021</td>
                    <td>Phòng Võ 1</td>
                    <td>CODE001</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>29/09/2021</td>
                    <td>Phòng Võ 2</td>
                    <td>CODE001</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>29/09/2021</td>
                    <td>Phòng Võ 3</td>
                    <td>CODE001</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>29/09/2021</td>
                    <td>Phòng Võ 4</td>
                    <td>CODE001</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div id="fileContents"></div>
<script>
    $(document).ready(function () {
        $("#file-code").on('change', function () {
            var fileName = this.files[0].name;
            $('#file-code__tilte').text(fileName);
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.readAsText(file, "UTF-8");
                reader.onload = function (evt) {
                    var dataFile = evt.target.result;
                    $.ajax({
                        type: 'POST',
                        url: '/Home/HandleDataFile',
                        data: { data: dataFile},
                        dataType: 'json',
                        success: function (data) {
                            if (data.Code == 1) {
                                $('.detail-giftcode__total').text(data.Data);
                                $('.detail-giftcode__notifi').text(data.Messager)
                            } else {
                                 $('.detail-giftcode__notifi').text(data.Messager)
                            }
                        },
                    })
                   
                }
                reader.onerror = function (evt) {
                    swal({
                        title: "Lỗi!",
                        text: "Không đọc được file",
                        icon: "error",
                    });
                }
            }
        });
    });
    
</script>